/*My CSS will be in here*/

.titleLogo {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  background-color: #000000;
  z-index: 5;
}

body {
  background-color: #d3a625;
  width: 80%;
}

h1 {
  font-family: Arial;
  font-size: 96px;
  color: #d3a625;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  z-index: 5;
}

h3 {
  position: fixed;
  font-family: Arial;
  color: #d3a625;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  text-align: center;
  z-index: 5;
  padding-left: 780px;
  padding-top: 55px;
}

.sec1 {
  padding-top: 500px;
  padding-left: 1200px;
  z-index: -10;
}

.sec2 {
  padding-top: 500px;
  padding-left: 1200px;
  z-index: -10;
}

.sec3 {
  padding-top: 500px;
  padding-left: 1200px;
  z-index: -10;
}

.sec4 {
  padding-top: 500px;
  padding-left: 1200px;
  z-index: -10;
}
